/* Палитра цветов */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-black-color: #000000;
}

/* Оформление фона и основного текста */
body {
    background-color: var(--primary-white-color);
    margin: 0;
    color: var(--primary-text-color);
    font-family: Roboto;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
}

/* Контейнер для центрирования контента */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    outline: 2px solid #000;
    background-color: thistle;
}

/* Оформление логотипа */
.logo {
    color: var(--secondary-black-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-web {
    color: var(--accent-color)
}
.footer-logo {
    color: var(--primary-white-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    text-decoration: none;
}

/* Обнуление стилей для списков */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Оформление навигации */
.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* Оформление контактов в шапке */
.contacts-link-item {
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts-link-item:hover,
.contacts-link-item:focus {
    color: var(--accent-color);
}

/* Оформление героя */
.hero-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Оформление кнопки "Заказать услугу" */
.button {
    padding: 10px 32px;
    display: inline-block;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Оформление секций */
.section-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.feature-list-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-list-item {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.main-activity-item {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.name {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.specialty {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
.social-links {
    color: #AFB1B8;
    text-decoration: none;
}
.social-links:hover,
.social-links:focus {
    color: var(--accent-color);
}

/* Оформление футера */
.address-container {
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.address-container-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.call {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.copyright {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
}

/* Оформление Портфолио */
.section-projects-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.filter-item {
    display: inline-block;
    height: 38px;
    padding: 6px 22px;
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border-style: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.filter-item:hover,
.filter-item:focus {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.name-project {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-link {
    text-decoration: none;
}
.project-item {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
.project-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}